In [1]:
import uproot
import awkward as ak
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
import math
import hist
import vector
import os
import subprocess
import gc
import pandas as pd
print("uproot version", uproot.__version__)
print("awkward version", ak.__version__)
print("numpy version", np.__version__)
print("matplotlib version", matplotlib.__version__)
print("hist version", hist.__version__)
print("vector version", vector.__version__)
#print("os version", os.__version__)
#print("subprocess version", subprocess.__version__)
#print("gc version", gc.__version__)
print("pandas version", pd.__version__)

uproot version 5.0.12
awkward version 2.4.3
numpy version 1.25.2
matplotlib version 3.8.0
hist version 2.7.2
vector version 1.1.1
pandas version 1.5.3

In [2]:
vector.register_awkward()

In [3]:
SAMPLE_RUNS = sorted([290323, 290327, 290848, 291361, 291360, 291362, 290853, 290860, 291373, 290374, 
                      290375, 291399, 291400, 290894, 290895, 290404, 291943, 291944, 291948, 291953, 
                      290932, 290423, 291447, 290935, 290425, 290427, 291451, 291453, 291976, 291982, 
                      290456, 290458, 290459, 291482, 291485, 290975, 290980, 290469, 292012, 291002, 
                      291003, 291004, 291005, 290501, 292040, 292060, 292061, 292062, 291041, 290539, 
                      290540, 292075, 292077, 292080, 290549, 290553, 291590, 292106, 292108, 292109, 
                      292115, 290590, 291618, 291622, 291624, 292140, 290612, 292160, 292162, 292163, 
                      292164, 292166, 290632, 291657, 292168, 292192, 290658, 290660, 291690, 291692, 
                      291694, 291698, 291706, 290687, 290692, 290696, 290699, 292242, 292265, 291755, 
                      292269, 292270, 291760, 292273, 292274, 290742, 291769, 291263, 290764, 290766, 
                      291283, 291284, 291285, 291795, 291796, 290776, 291803, 290787])

In [4]:
_ = pd.read_csv("../data/counters.online.csv")

In [5]:
_.head()

      run   cint7l0b  cmul7l0b  duration(s)  interacting_bunches
0  290222    2821944      1135         4613                    1
1  290223    1215525       507         2126                    1
2  290254   19597017      8005        15931                    2
3  290293  179288589     67797         3708                  376
4  290297  136426265     51979         2803                  376

In [6]:
target_columns = ["run", "cmul7l0b"]
runDurationWeight = _[target_columns]

In [7]:
runDurationWeight.head()

      run  cmul7l0b
0  290222      1135
1  290223       507
2  290254      8005
3  290293     67797
4  290297     51979

In [8]:
filtered_runDurationWeight = runDurationWeight[runDurationWeight["run"].isin(SAMPLE_RUNS)]
filtered_runDurationWeight

        run  cmul7l0b
6    290323    549003
8    290327     46501
10   290374    280141
11   290375    128159
13   290404    705095
..      ...       ...
180  292265    240213
181  292269     98752
182  292270    324706
183  292273    915526
184  292274    380610

[108 rows x 2 columns]

In [9]:
filtered_runDurationWeight = filtered_runDurationWeight.copy()
filtered_runDurationWeight["weight"] = filtered_runDurationWeight["cmul7l0b"] / filtered_runDurationWeight["cmul7l0b"].max()

In [10]:
filtered_runDurationWeight

        run  cmul7l0b    weight
6    290323    549003  0.362104
8    290327     46501  0.030670
10   290374    280141  0.184772
11   290375    128159  0.084529
13   290404    705095  0.465057
..      ...       ...       ...
180  292265    240213  0.158436
181  292269     98752  0.065133
182  292270    324706  0.214165
183  292273    915526  0.603850
184  292274    380610  0.251037

[108 rows x 3 columns]

In [11]:
filtered_runDurationWeight.values

array([[2.90323000e+05, 5.49003000e+05, 3.62103832e-01],
       [2.90327000e+05, 4.65010000e+04, 3.06704886e-02],
       [2.90374000e+05, 2.80141000e+05, 1.84771539e-01],
       [2.90375000e+05, 1.28159000e+05, 8.45293467e-02],
       [2.90404000e+05, 7.05095000e+05, 4.65056841e-01],
       [2.90423000e+05, 2.97777000e+05, 1.96403649e-01],
       [2.90425000e+05, 8.32457000e+05, 5.49060514e-01],
       [2.90427000e+05, 2.60625000e+05, 1.71899445e-01],
       [2.90456000e+05, 1.35152000e+05, 8.91416933e-02],
       [2.90458000e+05, 1.10761000e+05, 7.30542137e-02],
       [2.90459000e+05, 1.31658300e+06, 8.68373668e-01],
       [2.90469000e+05, 8.28101000e+05, 5.46187443e-01],
       [2.90501000e+05, 1.36373600e+06, 8.99474194e-01],
       [2.90539000e+05, 3.93236000e+05, 2.59365181e-01],
       [2.90540000e+05, 3.47669000e+05, 2.29310727e-01],
       [2.90549000e+05, 6.03433000e+05, 3.98004021e-01],
       [2.90553000e+05, 4.47025000e+05, 2.94842588e-01],
       [2.90590000e+05, 7.16937000e+05, 4.72867425e-01],
       [2.90612000e+05, 1.66766000e+05, 1.09993220e-01],
       [2.90632000e+05, 1.63789000e+05, 1.08029691e-01],
       [2.90658000e+05, 5.56630000e+04, 3.67134343e-02],
       [2.90660000e+05, 6.49798000e+05, 4.28584808e-01],
       [2.90687000e+05, 8.07957000e+05, 5.32901142e-01],
       [2.90692000e+05, 1.08153900e+06, 7.13346586e-01],
       [2.90696000e+05, 4.27543000e+05, 2.81992919e-01],
       [2.90699000e+05, 3.39216000e+05, 2.23735414e-01],
       [2.90742000e+05, 6.69578000e+05, 4.41631028e-01],
       [2.90764000e+05, 2.65589000e+05, 1.75173532e-01],
       [2.90766000e+05, 3.68414000e+05, 2.42993428e-01],
       [2.90776000e+05, 3.41966000e+05, 2.25549221e-01],
       [2.90787000e+05, 3.31904000e+05, 2.18912666e-01],
       [2.90848000e+05, 7.49010000e+05, 4.94021692e-01],
       [2.90853000e+05, 3.82153000e+05, 2.52055208e-01],
       [2.90860000e+05, 1.31036700e+06, 8.64273804e-01],
       [2.90894000e+05, 2.18858000e+05, 1.44351343e-01],
       [2.90895000e+05, 1.03096000e+05, 6.79986387e-02],
       [2.90932000e+05, 3.79162000e+05, 2.50082446e-01],
       [2.90935000e+05, 3.07674000e+05, 2.02931376e-01],
       [2.90975000e+05, 7.12563000e+05, 4.69982482e-01],
       [2.90980000e+05, 1.22874000e+05, 8.10435393e-02],
       [2.91002000e+05, 1.05737500e+06, 6.97408828e-01],
       [2.91003000e+05, 6.78627000e+05, 4.47599443e-01],
       [2.91004000e+05, 9.98498000e+05, 6.58575548e-01],
       [2.91005000e+05, 3.20890000e+05, 2.11648203e-01],
       [2.91041000e+05, 1.06442600e+06, 7.02059430e-01],
       [2.91263000e+05, 1.51614800e+06, 1.00000000e+00],
       [2.91283000e+05, 3.17784000e+05, 2.09599591e-01],
       [2.91284000e+05, 6.61343000e+05, 4.36199500e-01],
       [2.91285000e+05, 1.17889000e+05, 7.77556017e-02],
       [2.91360000e+05, 8.76590000e+05, 5.78169150e-01],
       [2.91361000e+05, 1.89721000e+05, 1.25133562e-01],
       [2.91362000e+05, 6.67267000e+05, 4.40106771e-01],
       [2.91373000e+05, 1.35923000e+05, 8.96502188e-02],
       [2.91399000e+05, 3.95216000e+05, 2.60671122e-01],
       [2.91400000e+05, 3.24946000e+05, 2.14323404e-01],
       [2.91447000e+05, 4.84904000e+05, 3.19826297e-01],
       [2.91451000e+05, 3.09486000e+05, 2.04126510e-01],
       [2.91453000e+05, 1.16187500e+06, 7.66333498e-01],
       [2.91482000e+05, 7.33349000e+05, 4.83692225e-01],
       [2.91485000e+05, 1.41284000e+05, 9.31861533e-02],
       [2.91590000e+05, 5.85836000e+05, 3.86397634e-01],
       [2.91618000e+05, 4.95603000e+05, 3.26882996e-01],
       [2.91622000e+05, 4.99486000e+05, 3.29444091e-01],
       [2.91624000e+05, 8.36852000e+05, 5.51959307e-01],
       [2.91657000e+05, 3.77544000e+05, 2.49015268e-01],
       [2.91690000e+05, 1.64643000e+05, 1.08592961e-01],
       [2.91692000e+05, 2.99135000e+05, 1.97299340e-01],
       [2.91694000e+05, 3.27719000e+05, 2.16152381e-01],
       [2.91698000e+05, 3.65237000e+05, 2.40897986e-01],
       [2.91706000e+05, 6.17944000e+05, 4.07574986e-01],
       [2.91755000e+05, 5.51710000e+05, 3.63889277e-01],
       [2.91760000e+05, 5.85190000e+04, 3.85971554e-02],
       [2.91769000e+05, 6.48669000e+05, 4.27840158e-01],
       [2.91795000e+05, 1.15279000e+05, 7.60341339e-02],
       [2.91796000e+05, 1.49314000e+05, 9.84824700e-02],
       [2.91803000e+05, 2.01149000e+05, 1.32671085e-01],
       [2.91943000e+05, 7.20225000e+05, 4.75036078e-01],
       [2.91944000e+05, 4.22665000e+05, 2.78775555e-01],
       [2.91948000e+05, 7.57827000e+05, 4.99837087e-01],
       [2.91953000e+05, 1.12013700e+06, 7.38804523e-01],
       [2.91976000e+05, 6.87093000e+05, 4.53183330e-01],
       [2.91982000e+05, 5.16402000e+05, 3.40601313e-01],
       [2.92012000e+05, 5.63070000e+05, 3.71381950e-01],
       [2.92040000e+05, 7.49311000e+05, 4.94220221e-01],
       [2.92060000e+05, 5.29201000e+05, 3.49043101e-01],
       [2.92061000e+05, 3.66542000e+05, 2.41758720e-01],
       [2.92062000e+05, 1.11105700e+06, 7.32815662e-01],
       [2.92075000e+05, 6.67766000e+05, 4.40435894e-01],
       [2.92077000e+05, 3.10601000e+05, 2.04861926e-01],
       [2.92080000e+05, 4.84113000e+05, 3.19304580e-01],
       [2.92106000e+05, 3.93124000e+05, 2.59291309e-01],
       [2.92108000e+05, 3.30119000e+05, 2.17735340e-01],
       [2.92109000e+05, 3.08611000e+05, 2.03549390e-01],
       [2.92115000e+05, 9.71087000e+05, 6.40496178e-01],
       [2.92140000e+05, 5.99080000e+04, 3.95132929e-02],
       [2.92160000e+05, 1.33604700e+06, 8.81211465e-01],
       [2.92162000e+05, 7.21490000e+04, 4.75870430e-02],
       [2.92163000e+05, 3.75914000e+05, 2.47940175e-01],
       [2.92164000e+05, 8.34840000e+04, 5.50632260e-02],
       [2.92166000e+05, 3.02109000e+05, 1.99260890e-01],
       [2.92168000e+05, 5.47511000e+05, 3.61119759e-01],
       [2.92192000e+05, 6.79890000e+04, 4.48432475e-02],
       [2.92242000e+05, 2.69941000e+05, 1.78043964e-01],
       [2.92265000e+05, 2.40213000e+05, 1.58436380e-01],
       [2.92269000e+05, 9.87520000e+04, 6.51334830e-02],
       [2.92270000e+05, 3.24706000e+05, 2.14165108e-01],
       [2.92273000e+05, 9.15526000e+05, 6.03850020e-01],
       [2.92274000e+05, 3.80610000e+05, 2.51037498e-01]])