In [67]:
import uproot
import awkward as ak
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
import math
import hist
import vector
import os
import subprocess
import gc
import pandas as pd
print("uproot version", uproot.__version__)
print("awkward version", ak.__version__)
print("numpy version", np.__version__)
print("matplotlib version", matplotlib.__version__)
print("hist version", hist.__version__)
print("vector version", vector.__version__)
#print("os version", os.__version__)
#print("subprocess version", subprocess.__version__)
#print("gc version", gc.__version__)
print("pandas version", pd.__version__)

uproot version 5.0.12
awkward version 2.4.3
numpy version 1.25.2
matplotlib version 3.8.0
hist version 2.7.2
vector version 1.1.1
pandas version 1.5.3

In [68]:
vector.register_awkward()

In [69]:
SAMPLE_RUNS = sorted([290323, 290327, 290848, 291361, 291360, 291362, 290853, 290860, 291373, 290374, 
                      290375, 291399, 291400, 290894, 290895, 290404, 291943, 291944, 291948, 291953, 
                      290932, 290423, 291447, 290935, 290425, 290427, 291451, 291453, 291976, 291982, 
                      290456, 290458, 290459, 291482, 291485, 290975, 290980, 290469, 292012, 291002, 
                      291003, 291004, 291005, 290501, 292040, 292060, 292061, 292062, 291041, 290539, 
                      290540, 292075, 292077, 292080, 290549, 290553, 291590, 292106, 292108, 292109, 
                      292115, 290590, 291618, 291622, 291624, 292140, 290612, 292160, 292162, 292163, 
                      292164, 292166, 290632, 291657, 292168, 292192, 290658, 290660, 291690, 291692, 
                      291694, 291698, 291706, 290687, 290692, 290696, 290699, 292242, 292265, 291755, 
                      292269, 292270, 291760, 292273, 292274, 290742, 291769, 291263, 290764, 290766, 
                      291283, 291284, 291285, 291795, 291796, 290776, 291803, 290787])

In [70]:
_ = pd.read_csv("../data/counters.online.csv")

In [71]:
_.head()

      run   cint7l0b  cmul7l0b  duration(s)  interacting_bunches
0  290222    2821944      1135         4613                    1
1  290223    1215525       507         2126                    1
2  290254   19597017      8005        15931                    2
3  290293  179288589     67797         3708                  376
4  290297  136426265     51979         2803                  376

In [72]:
target_columns = ["run", "duration(s)"]
runDurationWeight = _[target_columns]

In [73]:
runDurationWeight.head()

      run  duration(s)
0  290222         4613
1  290223         2126
2  290254        15931
3  290293         3708
4  290297         2803

In [74]:
filtered_runDurationWeight = runDurationWeight[runDurationWeight["run"].isin(SAMPLE_RUNS)]
filtered_runDurationWeight

        run  duration(s)
6    290323         8563
8    290327          739
10   290374         4405
11   290375         2044
13   290404         8316
..      ...          ...
180  292265         2730
181  292269         1137
182  292270         3698
183  292273        10401
184  292274         4354

[108 rows x 2 columns]

In [75]:
filtered_runDurationWeight = filtered_runDurationWeight.copy()
filtered_runDurationWeight["weight"] = filtered_runDurationWeight["duration(s)"] / filtered_runDurationWeight["duration(s)"].max()

In [76]:
filtered_runDurationWeight

        run  duration(s)    weight
6    290323         8563  0.466827
8    290327          739  0.040288
10   290374         4405  0.240146
11   290375         2044  0.111432
13   290404         8316  0.453361
..      ...          ...       ...
180  292265         2730  0.148831
181  292269         1137  0.061985
182  292270         3698  0.201603
183  292273        10401  0.567028
184  292274         4354  0.237366

[108 rows x 3 columns]

In [77]:
filtered_runDurationWeight.values

array([[2.90323000e+05, 8.56300000e+03, 4.66826582e-01],
       [2.90327000e+05, 7.39000000e+02, 4.02878482e-02],
       [2.90374000e+05, 4.40500000e+03, 2.40146105e-01],
       [2.90375000e+05, 2.04400000e+03, 1.11432154e-01],
       [2.90404000e+05, 8.31600000e+03, 4.53360955e-01],
       [2.90423000e+05, 3.55900000e+03, 1.94024969e-01],
       [2.90425000e+05, 9.90000000e+03, 5.39715423e-01],
       [2.90427000e+05, 3.08800000e+03, 1.68347599e-01],
       [2.90456000e+05, 1.58600000e+03, 8.64635011e-02],
       [2.90458000e+05, 1.31700000e+03, 7.17985062e-02],
       [2.90459000e+05, 1.57770000e+04, 8.60110124e-01],
       [2.90469000e+05, 9.96900000e+03, 5.43477076e-01],
       [2.90501000e+05, 1.66300000e+04, 9.06612877e-01],
       [2.90539000e+05, 4.78000000e+03, 2.60589871e-01],
       [2.90540000e+05, 4.22700000e+03, 2.30442131e-01],
       [2.90549000e+05, 7.33900000e+03, 4.00098130e-01],
       [2.90553000e+05, 5.40000000e+03, 2.94390231e-01],
       [2.90590000e+05, 8.41600000e+03, 4.58812626e-01],
       [2.90612000e+05, 1.97900000e+03, 1.07888568e-01],
       [2.90632000e+05, 1.97200000e+03, 1.07506951e-01],
       [2.90658000e+05, 6.64000000e+02, 3.61990950e-02],
       [2.90660000e+05, 7.70300000e+03, 4.19942212e-01],
       [2.90687000e+05, 9.70200000e+03, 5.28921114e-01],
       [2.90692000e+05, 1.30230000e+04, 7.09971106e-01],
       [2.90696000e+05, 5.12300000e+03, 2.79289102e-01],
       [2.90699000e+05, 4.18100000e+03, 2.27934362e-01],
       [2.90742000e+05, 1.32080000e+04, 7.20056697e-01],
       [2.90764000e+05, 3.22000000e+03, 1.75543804e-01],
       [2.90766000e+05, 4.41400000e+03, 2.40636755e-01],
       [2.90776000e+05, 4.07800000e+03, 2.22319141e-01],
       [2.90787000e+05, 3.84600000e+03, 2.09671264e-01],
       [2.90848000e+05, 8.88400000e+03, 4.84326446e-01],
       [2.90853000e+05, 4.53600000e+03, 2.47287794e-01],
       [2.90860000e+05, 1.56670000e+04, 8.54113286e-01],
       [2.90894000e+05, 2.59700000e+03, 1.41579894e-01],
       [2.90895000e+05, 1.20100000e+03, 6.54745680e-02],
       [2.90932000e+05, 4.52100000e+03, 2.46470043e-01],
       [2.90935000e+05, 3.60600000e+03, 1.96587254e-01],
       [2.90975000e+05, 8.47200000e+03, 4.61865562e-01],
       [2.90980000e+05, 1.48200000e+03, 8.07937633e-02],
       [2.91002000e+05, 1.24070000e+04, 6.76388813e-01],
       [2.91003000e+05, 8.03600000e+03, 4.38096277e-01],
       [2.91004000e+05, 1.20280000e+04, 6.55726980e-01],
       [2.91005000e+05, 3.92500000e+03, 2.13978084e-01],
       [2.91041000e+05, 1.27710000e+04, 6.96232895e-01],
       [2.91263000e+05, 1.83430000e+04, 1.00000000e+00],
       [2.91283000e+05, 3.75400000e+03, 2.04655727e-01],
       [2.91284000e+05, 7.89300000e+03, 4.30300387e-01],
       [2.91285000e+05, 1.44100000e+03, 7.85585782e-02],
       [2.91360000e+05, 1.03470000e+04, 5.64084392e-01],
       [2.91361000e+05, 2.23000000e+03, 1.21572262e-01],
       [2.91362000e+05, 7.90000000e+03, 4.30682004e-01],
       [2.91373000e+05, 1.48900000e+03, 8.11753803e-02],
       [2.91399000e+05, 4.59800000e+03, 2.50667830e-01],
       [2.91400000e+05, 3.81600000e+03, 2.08035763e-01],
       [2.91447000e+05, 5.71700000e+03, 3.11672027e-01],
       [2.91451000e+05, 3.60300000e+03, 1.96423704e-01],
       [2.91453000e+05, 1.36800000e+04, 7.45788584e-01],
       [2.91482000e+05, 8.73400000e+03, 4.76148940e-01],
       [2.91485000e+05, 1.71300000e+03, 9.33871232e-02],
       [2.91590000e+05, 6.83300000e+03, 3.72512675e-01],
       [2.91618000e+05, 5.82100000e+03, 3.17341765e-01],
       [2.91622000e+05, 5.78100000e+03, 3.15161097e-01],
       [2.91624000e+05, 9.84100000e+03, 5.36498937e-01],
       [2.91657000e+05, 4.46900000e+03, 2.43635174e-01],
       [2.91690000e+05, 1.98500000e+03, 1.08215668e-01],
       [2.91692000e+05, 3.61200000e+03, 1.96914354e-01],
       [2.91694000e+05, 3.91900000e+03, 2.13650984e-01],
       [2.91698000e+05, 4.35600000e+03, 2.37474786e-01],
       [2.91706000e+05, 7.37700000e+03, 4.02169765e-01],
       [2.91755000e+05, 6.47400000e+03, 3.52941176e-01],
       [2.91760000e+05, 6.94000000e+02, 3.78345963e-02],
       [2.91769000e+05, 7.75400000e+03, 4.22722564e-01],
       [2.91795000e+05, 1.30600000e+03, 7.11988224e-02],
       [2.91796000e+05, 1.74900000e+03, 9.53497247e-02],
       [2.91803000e+05, 2.36000000e+03, 1.28659434e-01],
       [2.91943000e+05, 8.53400000e+03, 4.65245598e-01],
       [2.91944000e+05, 4.97100000e+03, 2.71002562e-01],
       [2.91948000e+05, 9.12000000e+03, 4.97192389e-01],
       [2.91953000e+05, 1.39490000e+04, 7.60453579e-01],
       [2.91976000e+05, 8.14600000e+03, 4.44093115e-01],
       [2.91982000e+05, 5.97900000e+03, 3.25955405e-01],
       [2.92012000e+05, 6.48200000e+03, 3.53377310e-01],
       [2.92040000e+05, 8.80600000e+03, 4.80074143e-01],
       [2.92060000e+05, 6.13800000e+03, 3.34623562e-01],
       [2.92061000e+05, 4.21100000e+03, 2.29569863e-01],
       [2.92062000e+05, 1.29990000e+04, 7.08662705e-01],
       [2.92075000e+05, 7.79700000e+03, 4.25066783e-01],
       [2.92077000e+05, 3.60700000e+03, 1.96641771e-01],
       [2.92080000e+05, 5.63800000e+03, 3.07365207e-01],
       [2.92106000e+05, 4.59700000e+03, 2.50613313e-01],
       [2.92108000e+05, 3.84700000e+03, 2.09725781e-01],
       [2.92109000e+05, 3.63000000e+03, 1.97895655e-01],
       [2.92115000e+05, 1.12640000e+04, 6.14076214e-01],
       [2.92140000e+05, 6.87000000e+02, 3.74529793e-02],
       [2.92160000e+05, 1.53940000e+04, 8.39230224e-01],
       [2.92162000e+05, 8.22000000e+02, 4.48127351e-02],
       [2.92163000e+05, 4.39200000e+03, 2.39437388e-01],
       [2.92164000e+05, 9.90000000e+02, 5.39715423e-02],
       [2.92166000e+05, 3.44800000e+03, 1.87973614e-01],
       [2.92168000e+05, 6.40300000e+03, 3.49070490e-01],
       [2.92192000e+05, 7.83000000e+02, 4.26865834e-02],
       [2.92242000e+05, 3.08000000e+03, 1.67911465e-01],
       [2.92265000e+05, 2.73000000e+03, 1.48830617e-01],
       [2.92269000e+05, 1.13700000e+03, 6.19854986e-02],
       [2.92270000e+05, 3.69800000e+03, 2.01602791e-01],
       [2.92273000e+05, 1.04010000e+04, 5.67028294e-01],
       [2.92274000e+05, 4.35400000e+03, 2.37365753e-01]])